*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ALL PAGES: Navigation */
nav{
    display: flex;
    justify-content: center;
    min-height: 8vh;
    max-height: 16vh;
background-color: blanchedalmond;
font-family: 'Poppins', sans-serif;
}

.logo{
    height: 150px;
    width: 150px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    letter-spacing: 1.5px;
    font-size: 18px
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-family: 'Poppins', sans-serif;
}

.nav-links li {
    list-style: none;
}

.reservation-button {
    background-color: #E52626;
    color: white;
    height: 40px;
    width: 100px;
    padding: 14px 20px;
    margin: 50px 10px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    cursor: pointer;
}

.burger{
    display: none;
    padding: 50px;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #E52626;
    margin: 5px;
    transition: all 0.3s;
}

@media screen and (max-width: 1024px) {
    .nav-links{
        width: 60%;
    }
    .burger{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .burger{
        display: block;
        cursor: pointer;
    }
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 16vh;
        background-color: #e5b193;
        opacity: 94%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
       opacity: 0;
    }
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1
{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}





/* All Pages: Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E52626;
    color: white;
    min-height: 4vh;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}








/* Contact us: Header */
.contact-form{
    width: 600px;
    width: 100%;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.contact-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
}


.contact-button{
    background-color: #E52626;
    color: white;
    height: 40px;
    width: 100px;
    padding: 14px 20px;
    margin: 50px 10px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    cursor: pointer;
}

.contact-label{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
}

textarea{
    resize: none;
    resize: vertical;
    max-height: 300px;
}

input, textarea{
    outline: none;
    border: 1px solid #ddd;
    }

input:focus, textarea:focus{
box-shadow: 0 0 5px rgba(255, 0, 0, 0.5) ;
border: 1px solid #ddd; 
}

::placeholder{
    color: rgb(101, 5, 5);
}
:-ms-input-placeholder{
    color: rgb(101, 5, 5);
}
::-ms-input-placeholder{
    color: rgb(101, 5, 5);
}

